<% provide(:title, "About") %>
<section>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3>About us</h3>
      <p>We want to make learning your favourite playtime activity. That's how it should be: we learn best when we're relaxed, curious and confident, and, after all, the world is a very interesting place. </p>
    </div>
  </div>
</section>