<% provide(:title, "Contact") %>
<section>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3>Contact us</h3>
      <p>
      Hi there! Are you looking for help or do you want to share a great idea with us? Fill out our support contact form which guarantees a fast response.
      <br>
      Stay in touch! Drop by to say hi or for any other queries email us at info@framgia.com
      Please note that site content and technical help is available via our Support channel only.
      <br><br>
      Or, if you want to stand out from the weight of emails, why not be traditional and send us a letter at:
      <br><br>
      13F, KeangNam LandMark 72 Building,
      <br>
      E6 Pham Hung, Tu Liem, HN
      <br>
      Tel: 04 3795 5417
      </p>
    </div>
  </div>
</section>