<section>
  <div class="row">
    <div class="col-md-10">
      <%= form_for [:admin, @word] do |f| %>
        <%= render 'admin/words/word', {word: @word, f: f} %>
        <div class="row">
          <p class="col-md-2">
            <%= link_to t("admin.button.back_to_index"), admin_words_path, class: "btn btn-info" %>
          </p>
          <p class="col-md-2">
            <%= f.submit t("admin.button.create_word"), class: "btn btn-block btn-primary" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>