<% provide(:title, @user.name) %>
<section>
  <div class="row">
    <div class="col-xs-3">
      <%= render "users/user" %>
    </div>
    <div class="col-xs-9">
      <h3>All activities</h3>
      <%= render "users/activities" %>
    </div>
  </div>
</section>