<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <%= link_to 'Framgia E-learning System', root_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <%= link_to "About", about_path %>
          </li>
          <li class="page-scroll">
            <%= link_to "Contact", contact_path %>
          </li>
          <li class="page-scroll">
            <%= link_to "Register/Login" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>